<h1>List of All Creatures</h1>
<% @creatures.each do |creature| %>
	<div class="well">
		<h3> <%= creature.name %>: <%= creature.description %> </h3>
		<%= link_to "Edit Creature", edit_creature_path(creature), class: 'btn btn-default' %>
		<%= link_to 'Delete Creature', creature, class: 'btn btn-danger', method: :delete %>
	</div>
<% end %>